.HeaderAdmin {
    position: fixed;
    left: 0;
    top: 0;
    background: transparent;
    width: 100%;
    height: 70px;
}

.HeaderAdmin ul {
    max-width: 85%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HeaderAdmin ul li {
    margin: 0 2em;
}

.HeaderAdmin ul li a {
    color: rgba(41, 41, 220, 0.354);
    font-weight: bold;
    font-size: 14px;
    filter: drop-shadow(0 2px 4px rgba(41,41,220,0.2));
}

.HeaderAdmin ul li:hover a {
    color: rgba(41, 41, 220, 0.906);
    transform: scale(1.1);
    filter: drop-shadow(0 2px 4px rgba(41,41,220,0.5));
}

.HeaderAdmin ul li:hover {
    color: rgba(41, 41, 220, 0.906);
    transform: scale(1.2);
}

/* Dưới 1024px */
@media (max-width: 1024px) {
    .HeaderAdmin {
        z-index: 1000;
        position: relative;
        display: flex;
        width: 100%;
        align-items: center;
    }
    .HeaderAdmin ul {
        display: none;
        flex-direction: column;
        background-color:rgb(255, 255, 255) ;
        box-shadow: 2px 4px 10px rgba(41,41,220,0.5);
    }

    .HeaderAdmin ul.open {
        display: flex;
        width: 100% !important;
        max-width: 100%;
        height: 50vh;
        position: fixed;
        left: 0;
        z-index: 9999;
        top: 70px;
    }

    .HeaderAdmin ul.open li  {
        margin-bottom: 1.5em;
    }

    .HeaderAdmin ul.open li a {
        color: rgba(41, 41, 220, 1) !important;
        font-size: 16px;
    }

    .HeaderAdmin .menu-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 2em;
    }

    .HeaderAdmin .menu-toggle path{
        font-size: 20px;
    }
}
