* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  line-height: 2;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
}